/*
font-family: 'Waiting for the Sunrise', cursive;
font-family: 'Rancho', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Shadows Into Light', cursive;
*/

#adminmenu .toplevel_page_cybersoldier-settings div.wp-menu-image img{
	padding-top: 3px;
	max-width: 80%;
}

.row{
	padding:0 0;
}

.single-battle .page-header h1{
	text-align:center;
}

#profile-page .form-table {
	padding: 10px;
	border: 1px solid #000;
}

#profile-page .form-table th {
	padding: 20px;
}

.cybersoldier_edit {
	background: white;
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
}

.cybersoldier_edit input {
	max-width: 100%;
}

.cybersoldier_edit input.jscolor {
	max-width: 100%;
	width: 70px;
}

.items_top_icon {
	display: inline-block;
	width: auto;
	border: 1px solid #e9e9e9;
	padding: 3px 10px;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
	cursor: pointer;
}

.ci_gray_boxes_wrap{
	min-height:200px;
}

.ci_gray_box, .ci_icons_box  {
	background: #f3f3f3;
	border: 1px solid #e9e9e9;
	padding: 10px;
	margin-bottom: 10px;
	background: #f3f3f3;
}

.ci_icons_box {
	display: none;
	min-height: 170px;
}

.ci_icons_box img {
	max-width: 100%;
	width: 70px;
}

.ci_icon {
	display: inline-block;
	padding: 10px;
	background: #fff;
	border-radius: 6px;
	margin-left: 4px;
	margin-bottom: 4px;
	border: 1px solid #e0e0e0;
}

.ci_icon.selected {
	background: #d4ffd9;
}

.single-battle .main-content {
	margin-bottom: 20px;
	padding-bottom: 30px;
}

.battle_user {
	text-align: center;
	padding: 10px;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.10);
}

.battle-top{
	margin-bottom:30px;
}

.battle-time-left{
	float: right;
	margin-right: 10px;	
}
.battle-time-left .time{
font-size: 200%;	
}

.battle-time-left .time-text{
	
}

.cybersoldier_reply_box {
	background: rgba(189, 189, 189, 0.2);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.23);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.cybersoldier_reply_box input[type=submit] {
width: auto;
	padding: 7px 25px;
	background: #ffa500;
	color: #fff;
	margin-top: 10px;
	border-radius: 10px;
}

.cybersoldier_line_box {
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #000;
	margin-bottom: 10px;
	color: #000;
}

.cybersoldier_line_box {
	position: relative;
	width: 100%;
	min-height: 120px;
	padding: 13px 0px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 7px;
	border: #000 solid 2px;
}

.cybersoldier_line_box:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 16px 0 16px 16px;
	border-color: transparent #000;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -16px;
	right: -18px;
	top: 25%;
}

.cybersoldier_line_box:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	right: -15px;
	top: 25%;
}

.cybersoldier_line_box.left:before {
	border-width: 16px 16px 16px 0;
	left: -18px;
}

.cybersoldier_line_box.left:after {
	border-width: 15px 15px 15px 0;
	left: -15px;
}

.cybersoldier_line_box .user_info {
	font-size: 75%;
	color: rgba(0, 0, 0, 0.45);
	margin: 0 10px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.cybersoldier_line_box .badass_line {
	font-size: 150%;
	font-family: 'Bad Script', cursive;
	padding: 10px;
	font-family: 'Shadows Into Light Two', cursive;
}

.cybersoldier_line_box .score_bar{
	padding-left:10px;
}

.cybersoldier_line_box .score_number{
	padding: 5px 10px;
	background: #808080;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;	
}

.battle_list_box{
	background: rgba(255, 255, 255, 0.15);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
}

.battle_list_user_title{
	text-align: center;
	font-size: 180%;
	text-transform: uppercase;
}

.cybersoldier_info_box{
	border-top: 1px solid #e3e3e3;
	margin-top: 20px;
	padding-top: 20px;
}

a.battle_me_bitch_button{
	padding: 10px;
	background-color: #f56500;
	display: inline-block;
	border-radius: 10px;
	border:none;
	color: #fff;
	cursor: pointer;
}

#found_users {
	min-height: 100px;
	background: #f5f5f5;
	border-radius: 5px;
	border: 1px solid #f5f5f5;
	margin-top: 10px;
	padding: 10px;
}

#found_users .battle_user {
	border: 1px solid #dcdcdc;
	padding: 10px;
	margin-bottom: 4px;
	border-radius: 4px;
	background: #e06802;
	color: #fff;
	cursor: pointer;
}

#found_users .battle_user:hover {
	background: #f87c12;
}

.wait_one_minute {
	display: none;
	padding: 10px;
	border: 1px solid #d1d1d1;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	color: #0085ba;
	font-weight: bold;
	border-radius: 4px;
	margin-top: 10px;
	width: 303px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.cybersoldier-admin-content{
	
}

.cybersoldier-admin-content table{
	width: 50%;
	padding: 10px;
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
}

.cybersoldier-admin-content table td{
	padding:10px;
}

.cybersoldier-admin-content table td:last-child{
	text-align:right;
}

.cybersoldier-admin-content table tr:nth-child(even){
	background:#f7f7f7;
}
.cybersoldier-admin-content table tr:nth-child(odd){
	background:#fff;
}

/**
* Switch
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
